.grupoprinchead{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: transparent;
    backdrop-filter: blur(6px);
}
.headercont {

    display: flex;
    justify-content: right;
    width: 100%;
}

.grupoperfil {

    display: flex;
    height: 100px;
    width: 250px;
    justify-content: center;
}

.Botaoperfil {
    background-color: transparent;
    border: none;
    width: 150px;
    margin-top: 2px;
    margin-left: 1px;
}

.Botaoperfil img {
    width: 75%;

}

.titulosheader {
    width: 100%;
    margin-top: 25px;
}

.grupoalertaseconfig {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0px -2px 5px rgba(152, 152, 152, 0.3);
}

.Botaonotificações {
    background-color: transparent;
    border: none;
    width: 50px;
    margin-top: -2px;
}

.Botaonotificações img {
    width: 75%;
}

.numnotific {
    margin-left: -10px;
    color: #FF8B08;
    font-weight: bolder;
}

.BotaoConfiguracoes {

    background-color: transparent;
    border: none;
margin-top: -2px;
}

.BotaoConfiguracoes img {
    width: 75%;
}


@media screen and (max-width: 850px) {
    .grupoprinchead{
        background-color: rgba(255, 255, 255, 0.9);

    }
    .Botaonotificações{

        width: 40px;
        padding: 5px;
    }
    .headercont {
        justify-content: center;
        margin-left: 0;
    }
    .numnotific{
        margin-left: -10px;
    }
    .BotaoConfiguracoes{
        width: 50px;
        padding: 5px;
    }
    .grupoalertaseconfig {
        width: 80px;
    }
}